.body{
    background-color: blanchedalmond;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    list-style: none;
    overflow: hidden;
    border: 3px solid #73AD21;
    background-color: aqua;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline;
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

a:hover{
    background-color: #ddd;
    color: black;
}

p{
    color: #555
}

.search-bar{
    flex: 1;
    margin: auto;
    padding-right: 5px;
    padding-left:  5px;
}

#submit-button{
    float: right;
}

