.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline;
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(30, 246, 156);
}

p{
    color: #555
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-right: 25px;
    padding-left: 25px;

}